{% extends 'panel/base.html' %}
{% load static %}

{% block main_content %}
    <div class="container-fluid">
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Machines</h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 20%">
                          Machine Name
                      </th>
                      <th style="width: 30%">
                          Machine Level
                      </th>
                      <th>
                        Owns
                      </th>
                      <th style="width: 8%" class="text-center">
                          Status
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% if machines %}
                  {% for machine in machines %}
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                {{ machine.name }}
                            </a>
                            <br/>
                            <small>
                                {{ machine.publish_data }}
                            </small>
                        </td>
                        <td>
                            {{ machine.level }}
                        </td>
                        <td>
                            <i class="fas fa-user" style="{% if machine.user %}color: darkblue;{% else %}opacity: 0.3{% endif %}" id="user-{{ machine.id }}"></i> <i class="fas fa-user-secret" style="{% if machine.root %}color: #be0000;{% else %}opacity: 0.3{% endif %};" id="root-{{ machine.id }}"></i>
                        </td>
                        <td class="project-state" id="machine-state-{{ machine.id }}">
                          {% if machine.status == 'RUNNING' %}
                            <span class="badge badge-success">{{ machine.status }}</span>
                          {% elif machine.status == 'STOPPED' %}
                            <span class="badge badge-danger">{{ machine.status }}</span>
                          {% elif machine.status == 'SCHEDULED FOR A RESET' %}
                            <span class="badge badge-warning">{{ machine.status }}</span>
                          {% else %}
                            <span class="badge badge-info">{{ machine.status }}</span>
                          {% endif %}

                        </td>
                        <td class="project-actions text-right">
                            <button class="btn btn-success btn-sm" id="machine-start-{{ machine.id }}" {% if machine.status != 'STOPPED' %}disabled=disabled{% endif %}>
                                <i class="fas fa-play">
                                </i>
                            </button>
                            <button class="btn btn-danger btn-sm" id="machine-stop-{{ machine.id }}" {% if machine.status == 'STOPPED' %}disabled=disabled{% endif %}>
                                <i class="fas fa-stop">
                                </i>
                            </button>
                            <button class="btn btn-warning btn-sm" {% if machine.status == 'SCHEDULED FOR A RESET' %}id="machine-cancel-{{ machine.id }}"{% else %}id="machine-reset-{{ machine.id }}"{% endif %} {% if machine.status == 'STOPPED' %}disabled=disabled{% endif %}>
                                {% if machine.status == 'SCHEDULED FOR A RESET' %}<i class="fas fa-ban">{% else %}<i class="fas fa-redo">{% endif %}
                                </i>
                            </button>
                            <button class="btn btn-info btn-sm" data-id="{{ machine.id }}" data-toggle="modal" data-target="#flagModal" {% if machine.root and machine.user %}disabled=disabled alt="You already both user and root!"{% endif %}>
                                <i class="fas fa-flag">
                                </i>
                            </button>
                        </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
{% endblock %}

{% block scripts %}
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="flagModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Submit a flag</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" id="flag-value" class="form-control" />
        <input type="hidden" id="machine-id" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="submit-flag">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  var beautiful_dict = {
    "start": "start",
    "stop": "stop",
    "reset": "schedule a reset",
    "cancel": "cancel a reset",
  }
  // Machine Start/Stop/Reset AJAX
  $("[id^='machine-']").click(function(){
    var button_object = $(this);
    var button_array = button_object.attr("id").split("-")
    button_object.attr("disabled", true);
    var prev_value = button_object.html()
    button_object.html('<div class="spinner-border spinner-border-sm" role="status" style="padding: 0px; margin: 0px;"><span class="sr-only">Loading...</span></div>')
    $.ajax({              
      url: '/machines/' + button_array[1] + '/' + button_array[2] + '/',
      error: function(response){
        $.notify({message: "Failed to " + beautiful_dict[button_array[1]] + " a machine (#" + button_array[2] + ")"},{type: 'danger', offset: {y: 70, x: 20}});
        button_object.attr("disabled", false);
        button_object.html(prev_value);
      },
      success: function(response, textStatus, xhr){
        button_object.html(prev_value);
        button_object.attr("disabled", false);
        if (xhr.status == 241) {
          $.notify({message: "Started."},{type: 'success', offset: {y: 70, x: 20}});
          button_object.attr("disabled", true);
          $("#machine-stop-" + button_array[2]).attr("disabled", false);
          $("#machine-reset-" + button_array[2]).attr("disabled", false);
          $("#machine-state-" + button_array[2]).html('<span class="badge badge-success">RUNNING</span>');
        }
        else if (xhr.status == 242) {
          $.notify({message: "Already started!"},{type: 'success', offset: {y: 70, x: 20}});
          button_object.attr("disabled", true);
          $("#machine-stop-" + button_array[2]).attr("disabled", false);
          $("#machine-reset-" + button_array[2]).attr("disabled", false);
          $("#machine-state-" + button_array[2]).html('<span class="badge badge-success">RUNNING</span>');
        }
        else if (xhr.status == 251) {
          $.notify({message: "Stoppped."},{type: 'success', offset: {y: 70, x: 20}});
          button_object.attr("disabled", true);
          $("#machine-start-" + button_array[2]).attr("disabled", false);
          $("#machine-cancel-" + button_array[2]).attr('id', "machine-reset-" + button_array[2]);
          $("#machine-reset-" + button_array[2]).html('<i class="fas fa-redo"></i>');
          $("#machine-reset-" + button_array[2]).attr("disabled", true);
          $("#machine-state-" + button_array[2]).html('<span class="badge badge-danger">STOPPED</span>');
        }
        else if (xhr.status == 252) {
          $.notify({message: "Stopped already!"},{type: 'success', offset: {y: 70, x: 20}});
          button_object.attr("disabled", true);
          $("#machine-start-" + button_array[2]).attr("disabled", false);
          $("#machine-cancel-" + button_array[2]).attr('id', "machine-reset-" + button_array[2]);
          $("#machine-reset-" + button_array[2]).html('<i class="fas fa-redo"></i>');
          $("#machine-reset-" + button_array[2]).attr("disabled", true);
          $("#machine-state-" + button_array[2]).html('<span class="badge badge-danger">STOPPED</span>');
        }
        else if (xhr.status == 261) {
          $.notify({message: "Reset scheduled."},{type: 'success', offset: {y: 70, x: 20}});
          button_object.html('<i class="fas fa-ban"></i>');
          button_object.attr('id', "machine-cancel-" + button_array[2]);
          $("#machine-state-" + button_array[2]).html('<span class="badge badge-warning">SCHEDULED FOR A RESET</span>');
        }
        else if (xhr.status == 262) {
          $.notify({message: "Reset already scheduled!"},{type: 'success', offset: {y: 70, x: 20}});
          button_object.html('<i class="fas fa-ban"></i>');
          button_object.attr('id', "machine-cancel-" + button_array[2]);
          $("#machine-state-" + button_array[2]).html('<span class="badge badge-warning">SCHEDULED FOR A RESET</span>');
        }
        else if (xhr.status == 271) {
          $.notify({message: "Reset canceled."},{type: 'success', offset: {y: 70, x: 20}});
          button_object.html('<i class="fas fa-redo"></i>');
          button_object.attr('id', "machine-reset-" + button_array[2]);
          $("#machine-state-" + button_array[2]).html('<span class="badge badge-success">RUNNING</span>');
        }
        else if (xhr.status == 272) {
          $.notify({message: "Reset already canceled!"},{type: 'success', offset: {y: 70, x: 20}});
          button_object.html('<i class="fas fa-redo"></i>');
          button_object.attr('id', "machine-reset-" + button_array[2]);
          $("#machine-state-" + button_array[2]).html('<span class="badge badge-success">RUNNING</span>');
        }
      },
    });
  });

  $('#flagModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget)
    var recipient = button.data('id')
    var modal = $(this)
    modal.find('.modal-body #machine-id').val(recipient)
  });

  $('#flagModal').on('hidden.bs.modal', function (event) {
    var modal = $(this)
    modal.find('.modal-body input').val("")
  });

  function highlightUser(userid) {
    $("#user-" + userid).css('opacity', 1);
    $("#user-" + userid).css('color', 'darkblue');
    return true
  }

  function highlightRoot(rootid) {
    $("#root-" + rootid).css('opacity', '1');
    $("#root-" + rootid).css('color', '#be0000');
    return true
  }

  // Submit flag AJAX
  $("#submit-flag").click(function(){
    var button_object = $(this);
    var prev_value = button_object.html()
    button_object.html('<div class="spinner-border spinner-border-sm" role="status" style="padding: 0px; margin: 0px;"><span class="sr-only">Loading...</span></div> Submit')
    button_object.attr("disabled", true);
    var modal = $('#flagModal');
    var flag_value = modal.find('#flag-value').val()
    var machine_id = modal.find('#machine-id').val()
    console.log(flag_value)

    $.ajax({              
      url: '/machines/flag/' + machine_id + '/',
      method: 'POST',
      data: {
        flag: flag_value,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      error: function(response){
        $.notify({message: "Wrong flag!"},{type: 'danger', offset: {y: 70, x: 20}, z_index: 99999});
        button_object.attr("disabled", false);
        button_object.html(prev_value);
      },
      success: function(response, textStatus, xhr){
        modal.modal('hide');
        button_object.attr("disabled", false);
        button_object.html(prev_value);
      },
      complete: function(xhr, textStatus) {
        if (xhr.status == 281) {
          highlightUser(machine_id);
          $.notify({message: "User owned!"},{type: 'success', offset: {y: 70, x: 20}});
        }
        if (xhr.status == 282) {
          highlightRoot(machine_id);
          $.notify({message: "System pwned!"},{type: 'success', offset: {y: 70, x: 20}});
        }
      }
    });
  });

</script>
{% endblock %}