{% extends 'panel/base.html' %}
{% load static %}

{% block main_content %}
      <!-- Default box -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Machines</h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 20%">
                          Machine Name
                      </th>
                      <th style="width: 30%">
                          Machine Level
                      </th>
                      <th>
                        Owns
                      </th>
                      <th style="width: 8%" class="text-center">
                          Status
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>
              <tbody>
                {% if machines %}
                  {% for machine in machines %}
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                {{ machine.name }}
                            </a>
                            <br/>
                            <small>
                                {{ machine.publish_data }}
                            </small>
                        </td>
                        <td>
                            {{ machine.level }}
                        </td>
                        <td>
                            <i class="fas fa-user" style="{% if machine.user %}color: darkblue;{% else %}opacity: 0.3{% endif %}"></i> <i class="fas fa-user-secret" style="{% if machine.root %}color: #be0000;{% else %}opacity: 0.3{% endif %};"></i>
                        </td>
                        <td class="project-state">
                          {% if machine.status == 'RUNNING' %}
                            <span class="badge badge-success">{{ machine.status }}</span>
                          {% elif machine.status == 'STOPPED' %}
                            <span class="badge badge-danger">{{ machine.status }}</span>
                          {% elif machine.status == 'SCHEDULED FOR A RESET' %}
                            <span class="badge badge-warning">{{ machine.status }}</span>
                          {% else %}
                            <span class="badge badge-info">{{ machine.status }}</span>
                          {% endif %}

                        </td>
                        <td class="project-actions text-right">
                            <button class="btn btn-success btn-sm" id="machine-start{{ machine.id }}">
                                <i class="fas fa-play">
                                </i>
                            </button>
                            <button class="btn btn-danger btn-sm" id="machine-stop{{ machine.id }}">
                                <i class="fas fa-stop">
                                </i>
                            </button>
                            <button class="btn btn-warning btn-sm" id="machine-reset{{ machine.id }}">
                                <i class="fas fa-redo">
                                </i>
                            </button>
                            <button class="btn btn-info btn-sm" id="machine-flag{{ machine.id }}">
                                <i class="fas fa-flag">
                                </i>
                            </button>
                        </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
{% endblock %}

{% block scripts %}
<script>
$("[id^='machine-start']").click(function(){
  var button_object = $(this);
  button_object.attr("disabled", true)
  $.ajax({              
   url: '/machines/start/1/',
   error: function(response){
      $.notify({message: "blad"},{offset: {y: 70, x: 20}});
      button_object.attr("disabled", false);
    },
  });
});
</script>
{% endblock %}