{% extends 'panel/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main_content %}
<link rel="stylesheet" href="{% static "plugins/summernote/summernote-bs4.css" %}">
    <section class="content">
      <div class="row">
        <div class="col-md-3">
            <a href="/mailbox/" class="btn btn-primary btn-block mb-3">Back to Inbox</a>

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Folders</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a href="/mailbox/" class="nav-link">
                    <i class="fas fa-inbox"></i> Inbox
                    {% if mailbox_unread_count %}<span class="badge bg-primary float-right">{{ mailbox_unread_count }}</span> {% endif %}
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/mailbox/sent/" class="nav-link">
                    <i class="far fa-envelope"></i> Sent
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/mailbox/trash/" class="nav-link">
                    <i class="far fa-trash-alt"></i> Trash
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
          <div class="col-md-9">
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title">Compose New Message</h3>
              </div>
              <form action="/mailbox/compose/" method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <!-- {{ form.receiver|as_crispy_field }} -->
                    <label for="id_subject" class=" requiredField">
                        To<span class="asteriskField">*</span>
                    </label>
                    <input class="form-control basicAutoComplete" type="text" autocomplete="on" name="receiver" placeholder="Start typing..">
                  </div>
                  <div class="form-group">
                    {{ form.subject|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.content|as_crispy_field }}
                  </div>
                </div>
                <div class="card-footer">
                  <div class="float-right">
                    <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Send</button>
                  </div>
                  <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> Discard</button>
                </div>
              </form>
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
<script src="{% static "plugins/summernote/summernote-bs4.min.js" %}"></script>
<script>
$("#discard").click(function(){
    window.location.href = "/mailbox/compose/";
});
$('.basicAutoComplete').autoComplete({
    resolverSettings: {
        url: '/users/q.json'
    },
    minLength: 1,
});
</script>
{% endblock %}