{% extends 'panel/base.html' %}
{% load static %}

{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
            <a href="/mailbox/" class="btn btn-primary btn-block mb-3">Back to Inbox</a>

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Folders</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                  <a href="/mailbox/" class="nav-link">
                    <i class="fas fa-inbox"></i> Inbox
                    {% if mailbox_unread_count %}<span class="badge bg-primary float-right">{{ mailbox_unread_count }}</span> {% endif %}
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/mailbox/sent/" class="nav-link">
                    <i class="far fa-envelope"></i> Sent
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/mailbox/trash/" class="nav-link">
                    <i class="far fa-trash-alt"></i> Trash
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">Read Mail</h3>

              <div class="card-tools">
                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="mailbox-read-info">
                <h5><b>Subject:</b> {{ mailbox_message.subject|safe }}</h5>
                <h6><b>From:</b> {{ mailbox_message.sender|safe }}<br/>
                <b>To:</b> {{ mailbox_message.receiver|safe }}
                  <span class="mailbox-read-time float-right">{{ mailbox_message.created_at|safe }}</span></h6>
              </div>
              <!-- /.mailbox-controls -->
              <div class="mailbox-read-message">
                {{ mailbox_message.content|safe }}
              </div>
              <!-- /.mailbox-read-message -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <div class="float-right">
                <button type="button" class="btn btn-default"><i class="fas fa-reply"></i> Reply</button>
                <button disabled=disabled type="button" class="btn btn-default"><i class="fas fa-share"></i> Forward</button>
              </div>
              <button type="button" class="btn btn-default"><i class="far fa-trash-alt"></i> Delete</button>
              <!-- <button type="button" class="btn btn-default"><i class="fas fa-print"></i> Print</button> -->
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{% endblock %}
