{% extends 'panel/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block main_content %}
<section class="content">
<center>
    {% if not form %}
    <div class="card" style="width: 40rem;">
        <div class="card-body" style="text-align: left;">
           <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Key</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
                {% for key, value in net_config.items %}
                <tr>
                  <th scope="row">#</th>
                  <td>{{ key }}</td>
                  <td>{{ value }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table> 
          <div class="float-right">
            <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#deleteNetworkModal">Delete network</button>
          </div>
        </div>
    </div>
    {% else %}
    <form method="POST" action="/sys/nat/">
        <div class="card card-primary card-outline" style="width: 50%">
              <div class="card-header">
        {{ form|crispy }}
        {% csrf_token %}
    </div>
        <div class="card-footer">
          <div class="float-right">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </div>
    </div>
    </form>
    {% endif %}
</center>
</section>
{% endblock %}

{% block scripts %}
<!-- Modal -->
<div class="modal fade" id="deleteNetworkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is <b>danger zone</b>! Deleting the network while having virtual machines using it may result in unexpected behaviors!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="/sys/nat/" method="POST">
                {% csrf_token %}
                <input type="hidden" id="delete" name="delete" value="config"/>
                <button type="submit" class="btn btn-danger">Save changes</button>
            </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}